* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14;
  }
  a {
    text-decoration: none;
  }
  section {
    height: 100vh;
    display: flex;
  }
  section:first-child {
    height: 150vh;
    display: flex;
  }
  
  body nav {
    list-style: none;
    position: absolute;
    display: flex;
    font-size: medium;
    font-family: Josefin Sans;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 75%;
    z-index: 3;
    right: 0;
    top: 5%;
    background-color: white;
  }
  
  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
  }
  .one {
    position: relative;
    background-color: #5ba6a2;
    justify-content: space-around;
  }
  .one .logo {
    width: 250px;
    height: 50px;
    background: url("./images/logo.png");
    background-position: center center;
    position: absolute;
    background-size: cover;
    opacity: 1;
    left: 3%;
    top: 5%;
  }
  .one .welcome {
    width: 522px;
    color: rgba(242, 245, 247, 1);
    position: absolute;
    top: 300px;
    left: 5%;
    font-family: Josefin Sans;
    font-weight: Bold;
    font-size: 66px;
    opacity: 1;
    text-align: left;
  }
  .one .welcoming {
    width: 543px;
    color: rgba(0, 0, 0, 0.7799999713897705);
    position: absolute;
    top: 450px;
    left: 5%;
    font-family: Ubuntu;
    font-weight: Light;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .one .register {
    width: 175px;
    height: 50px;
    color: rgba(0, 0, 0, 0.7799999713897705);
    position: absolute;
    top: 650px;
    left: 5%;
    font-family: Ubuntu;
    font-weight: Light;
    opacity: 1;
    background-color: rgb(66, 75, 90);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
    font-size: large;
    color: rgba(242, 245, 247, 1);
  }
  .one .aboutProduct {
    width: 175px;
    height: 50px;
    color: rgba(0, 0, 0, 0.7799999713897705);
    position: absolute;
    top: 650px;
    left: 25%;
    font-family: Ubuntu;
    font-weight: Light;
    opacity: 1;
    background-color: rgb(66, 75, 90);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    text-align: center;
    padding-top: 3px;
    font-size: large;
    color: rgba(242, 245, 247, 1);
  }


.one .image {
  width: 50%;
  height: 100%;
  background-image: url("./images/phone_holding.png");
  background-position: center center;
  backface-visibility: hidden;
  position: absolute;
  background-size: cover;
  right: 0;
  z-index: 1;
}
.two {
  position: relative;
  background-color: white;
  justify-content: center;
}
.two h1 {
  width: 496px;
  color: rgba(66, 75, 90, 1);
  position: absolute;
  display: inline;
  top: 99px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  z-index: 2;
}
.two .box {
  width: 300px;
  height: 350px;
  position: relative;
  top: 200px;
  background-color: rgb(242, 245, 247);
  margin: 20px;
  z-index: 2;
}
.two .box h2 {
  color: rgba(20, 37, 36, 1);
  position: relative;
  top: 84px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.two .box span {
  color: rgb(161, 174, 183);
  position: absolute;
  top: 200px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  padding: 10px;
}
.three {
  position: relative;
  background-color: #5ba6a2;
  justify-content: center;
}
.three h1 {
  width: 826px;
  height: 100px;
  color: rgba(20, 37, 36, 1);
  position: relative;
  top: 84px;
  font-family: Ubuntu;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.three h2 {
  width: 556px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 194px;
  font-family: Ubuntu;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.three .client-picture {
  width: 179px;
  height: 179px;
  background: url("./images/selfie.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 319px;
  border-top-left-radius: 204px;
  border-top-right-radius: 204px;
  border-bottom-left-radius: 204px;
  border-bottom-right-radius: 204px;
  overflow: hidden;
}
